@model IEnumerable<visopt.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Search","Doctor", FormMethod.Get))
        {
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Search By</span>
                    <select class="form-control" name="type" id="type">
                        <option value="1">First Name</option>
                        <option value="2">Last Name</option>
                        <option value="3">Start Working Hour</option>
                        <option value="4">Ends Working Hour</option>
                    </select>
                    <input name="search" id="search" type="text" class="form-control" placeholder="">

                    <input type="submit" class="btn btn-default" value="Search">

                </div>
            </div>
        }

    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartWorkingHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndWorkingHour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartWorkingHour.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndWorkingHour.TimeOfDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
